
* {
    margin: 0;
    padding: 0;
     
  }
  a {
    color: white; 
    text-decoration: none;
}


a:hover {
    color: blue;
    text-decoration: none;
         }


  .conteneur {
    display: grid;
    height: 100vh; 
    width: 100%;
    grid-template-columns: 100%; 
    grid-template-rows: 3fr 1fr 6fr 2fr 2fr;
    grid-template-areas: 
      "header header"
      "nav nav"
      "section section"
      "article article"
      "footer footer";
     }
  
  
  header {
    grid-area: header;
    background-color: rgba(50, 0, 0, 0.553);
    font-size: 10vw;
    color: white;
    text-align: center;
    height: 250px;
    width: 100%;

  }
  

  nav {
    grid-area: nav;
    height:100px;
    background-color: rgb(31, 0, 0);
   
    color: white;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align:center;
   
    
    
  }
  img{
    width: 80px;
    float: right;
    height:80px;
    padding: 15px;
    border-radius:  50%; ;
  }
  .nav-item {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
      padding-top:1vw;
      font-size: 3.8vw;
    flex-grow: 1;
    flex-shrink: 1; 
    flex-basis: 16%; }


    main{

    width: 100%;
        
    }
    .grid-section {
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: repeat(12, 1fr);    
                          
                            
        background-color: #f0f0f0;           
        border: 1px solid #ccc;  
        height:700px;
      width: 100%;
      }
      
      .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;            
        border: 1px solid #060606;                
        font-weight: bold;
        font-size: 12px;
       
      }
      article{
height: 600px;
          font-size: 20px;
        background-color: rgb(250, 230, 210)

      }
      p{
        padding-left: 20px;
        padding-bottom:10px;

      }
      span{
        
        font-size:6vh;
        margin-top: 30px;
        display:inline-block;
        padding-bottom:40px;

      }
      .imgcours{ 
          float:left
      }
    
  
  
 
      .jours {
        
        font-weight: 900; 
      
        color: #333;
        text-transform: uppercase;
      
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;            
        border: 1px solid #060606;              
       
        font-size: 12px;
       
    }
    .cellfr{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;            
        border: 1px solid #060606;               
        font-weight: bold;
        font-size: 12px;
        background-color: rgba(113, 215, 113, 0.648);


    }
    .cellweb{
        display: flex;
        justify-content: center;
        align-items: center;
                 
        border: 1px solid #060606;                
        font-weight: bold;
        font-size: 12px;
        background-color: lightyellow;

    }.cellexploit{
        display: flex;
        justify-content: center;
        align-items: center;
                 
        border: 1px solid #060606;              
        font-weight: bold;
        font-size: 12px;
        background-color: rgba(218, 81, 81, 0.6);

    }
    .cellmath{display: flex;
        justify-content: center;
        align-items: center;
              
        border: 1px solid #060606;              
        font-weight: bold;
        font-size: 12px;
        background-color: rgba(74, 169, 216, 0.586);
    }
.cellphilo{

    display: flex;
    justify-content: center;
    align-items: center;
          
    border: 1px solid #060606;             
    font-weight: bold;
    font-size: 12px;
    background-color: rgba(228, 112, 217, 0.499);


}
.cellprog{
    display: flex;
    justify-content: center;
    align-items: center;
          
    border: 1px solid #060606;               
    font-weight: bold;
    font-size: 12px;
    background-color: rgba(106, 106, 232, 0.499);


}
 
 
  
  

    
 

    
  


  
  footer {
    grid-area: footer;
    background-color: black;
    height: 80px;
    color: white;
    text-align: center;
  }
  #sources{

    float: left;
    padding:50px 0px 5px 5px;
  }
  #réalisation{

    display:inline-block;
    float: right;
    padding:15px;
    
  }
  
  @media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        
    }

html, body {
    height: 100%;
    width: 100%;
}
    .conteneur {
    
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "header header"
            "nav section"
            "article article"
            "footer footer"; 
        min-height: 100vh; 
    }
    .grid-section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        height: 1400px;
        width: 100%;
    }
   

    header {
        grid-area: header;
        background-color: rgba(101, 0, 0, 0.438);
        color: white;
        text-align: center;
        align-content: center;
      width: 100%;
        font-size: 8vh;
       
    }
      img{

        padding:5px;
        float: right;
       
        margin-right:30px;
        
      }
    nav {
        grid-area: nav;
        background-color: rgb(31, 0, 0);
        width: 100%;
        color: white;
        text-align: center;
         height:100%;
         display: flex;
         flex-direction:column;
         justify-content: space-around;
     
    }
    
  .nav-item {
      flex-grow: 1; /* L'élément prend toute la place disponible */
      flex-shrink: 0; /* L'élément ne rétrécit pas en-dessous de la taille du contenu */
      width: 100%; /* Occupe toute la largeur du parent */
      text-align: center;
      font-size: 5vh;
      padding-top:1vw;
     
   
    flex-basis: 16%;
      
  }

  
      
 article{

    grid-area: article;
    height: 1000px;
 }
       
  
   
    
    

    footer {
        grid-area: footer;
        background-color: black;
       
        color: white;
        text-align: center;
        width: 100%;
    }
    
     }
     
